/dataset
/models
*.zip
.DS_Store
nohup.out
teacher_*
student_*
*.pyc
fine_tuned_student_model
ckpt
checkpoint*
/igored
.vscode
*.tfevents.*

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
*.thm
*.glo
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.idx
*.ilg
*.ind
*.maf
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.slg
*.syg
*.syi
*.tdo
*.xdy
*.tpt
*.loe
*.lol
*.lolx
*.pyg
*.dvi
*.ps
# PDF output (optional - uncomment if you don't want to track PDFs)
*.pdf
/superglue
/converge
